.wrapper {
    display: inline-block;
}

body {
   background-color: rgb(244, 254, 254); 
   font-family: 'Gill Sans', 'Segoe UI Emoji', 'Apple Color Emoji', sans-serif;
}

.typing-anim {
    text-align: center;
    font-size: 2em;
    width: 100%;
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
    animation: 
    typing 1s, 
    cursor .5s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color:transparent}
}

@keyframes typing {
    from { width: 0 }
  }
